@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
$gutter: 1rem; //for primeflex grid system
@import "assets/styles/layout/layout.scss";
.p-dialog-content ::-webkit-scrollbar {
  width: 10px;
}

.p-dialog-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 209, 209);
  border-radius: 50px;
}
.p-dialog-content::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 177, 0.453);
  border-radius: 10px;
}
.p-dialog-content::-webkit-scrollbar-thumb:hover {
  background: rgba(175, 175, 175, 0.453);
}
.p-dialog ::-webkit-scrollbar {
  width: 10px;
}

.p-dialog ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 209, 209);
  border-radius: 50px;
}
.p-dialog ::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 177, 0.453);
  border-radius: 10px;
}
.p-dialog ::-webkit-scrollbar-thumb:hover {
  background: rgba(175, 175, 175, 0.453);
}

.card-custom {
  background: var(--surface-card);
  border: 0px solid var(--surface-border);
  box-shadow: var(--card-shadow);
  border-radius: 0px;
  // min-height: calc(100vh - 12.5rem);
  padding: 15px 10px;
}

.text-red{
  color: red;
}

